.button {
  background-color: var(--color-primary-light-blue);
  padding: 16px 32px;
  border: 2px solid var(--color-primary-light-blue);
  border-radius: 32px;

  &:hover {
    background-color: transparent;
    border: 2px solid var(--color-primary-light-blue);
    cursor: pointer;
  }
}
