.button {
  color: var(--color-primary-light);
  background-color: var(--color-primary-light-blue);
  padding: 16px 32px;
  font-weight: 600;
  border: none;
  border-radius: 32px;
  line-height: 1.16;

  &:hover {
    color: var(--color-primary-midnight-blue-blue);
    background-color: transparent;
    border: 2px solid var(--color-primary-light-blue);

  }
}

