@use '../utils/index' as utils;

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-secondary-navy-blue);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-secondary-navy-blue);
  cursor: pointer;

  &:hover {
    fill: var(--color-primary-light);
    background-color: var(--color-primary-light-blue);
    border: 1px solid var(--color-primary-light);
  }

  &.next {
    transform: rotate(180deg);
  }

  @media screen and (max-width: utils.$bp-tablet) {
    display: none;
  }
}
