@use '../utils/index' as utils;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal-btn-close {
  position: absolute;
  top: 50px;
  right: 50px;
  fill: var(--color-primary-light);
  background-color: transparent;
  border: none;

  &:hover {
    fill: var(--color-primary-light-blue);
    cursor: pointer;
  }

  @media screen and (max-width: utils.$bp-tablet) {
    top: 25px;
    right: 20px;
  }
}

.modal {
  position: relative;
  width: 723px;
  max-width: 100%;
  height: 681px;
  max-height: 100%;
  padding: 42px 144px;
  background-color: var(--color-secondary-navy-blue);
  border-radius: 48px;
  overflow-y: auto;

  @media screen and (max-width: utils.$bp-tablet) {
    padding: 15px;
    border-radius: 1px;
  }

  &__title {
    color: var(--color-primary-light);
    text-align: center;
    padding-bottom: 40px;

    @media screen and (max-width: utils.$bp-tablet) {
      font-size: 32px;
      padding-bottom: 20px;
    }
  }

  &__text {
    color: var(--color-primary-light);
    font-size: 22px;
    font-weight: 700;
    line-height: 1.18;
    text-align: center;
    padding-bottom: 32px;

    @media screen and (max-width: utils.$bp-tablet) {
      font-size: 16px;
    }
  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-field {
      margin-bottom: 24px;
    }

    &-label {
      position: absolute;
      top: 16px;
      left: 42px;
    }

    &-input {
      color: var(--color-primary-light);
      padding: 18px 32px 18px 32px;
      width: 310px;
      max-width: 100%;
      background-color: transparent;
      border: 2px solid var(--color-secondary-medium-gray);
      border-radius: 32px;

      &:focus {
        color: var(--color-primary-light);
        background-color: var(--color-secondary-medium-gray);
        outline: none;
      }

      &::placeholder {
        color: var(--color-primary-light);
        font-size: 13px;
      }
    }

    &-button {
      display: block;
      margin: 0 auto 8px;
      color: var(--color-primary-light);
      font-size: 18px;
      font-weight: 250;
      padding: 16px 32px;

      &:hover {
        color: var(--color-primary-light);
      }

      @media screen and (max-width: utils.$bp-tablet) {
        font-size: 16px;
        padding: 16px 24px;
      }
    }
    &-text {
      color: var(--color-secondary-medium-gray);
      font-size: 12px;
      font-weight: 400;
      text-align: center;

      @media screen and (max-width: utils.$bp-tablet) {
        font-size: 11px;
      }
    }

    &-terms {
      color: var(--color-secondary-medium-gray);
      text-underline-offset: 2px;
    }
  }
}
