:root {
  --color-primary-light: #ffffff;
  --color-primary-light-blue: #2b7fff;
  --color-primary-midnight-blue: #011c44;
  --color-secondary-dark-gray: #4a4a4a;
  --color-secondary-medium-gray: #747272;
  --color-secondary-navy-blue: #011f4a;
  --color-secondary-yellow: #ffd02b;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
