@use '../utils/index' as utils;

.advantages-section {
  padding: 176px 0 96px 0;

  @media screen and (max-width: utils.$bp-tablet) {
    padding: 100px 0 40px 0;
  }

  &__title {
    padding-bottom: 48px;

    @media screen and (max-width: utils.$bp-tablet) {
      font-size: 32px;
      padding-bottom: 24px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 56px;

    @media screen and (max-width: utils.$bp-tablet) {
      gap: 12px;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 316px;
    height: 181px;
    border-radius: 32px;
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
    background: rgba(255, 255, 255, 1);

    @media screen and (max-width: utils.$bp-tablet) {
      height: auto;
    }
  }

  &__text {
    color: var(--color-primary-midnight-blue);
    padding: 24px 32px;
    font-size: 18px;
    text-align: center;
    line-height: 1.3;
  }

  &__icon {
    margin-bottom: 10px;
    fill: var(--color-primary-light-blue);
  }
}
