@use '../utils/index' as utils;

.advantages-section {
  padding: 176px 0 96px;

  @media screen and (max-width: utils.$bp-tablet) {
    padding: 100px 0 40px;
  }

  &__title {
    padding-bottom: 48px;

    @media screen and (max-width: utils.$bp-tablet) {
      font-size: 32px;
      padding-bottom: 24px;
    }
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 56px;

    @media screen and (max-width: utils.$bp-tablet) {
      gap: 12px;
      padding: 10px 0;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 316px;
    height: 181px;
    border-radius: 32px;
    box-shadow: 0 4px 4px 0 rgb(168 198 245 / 38%);
    background: rgb(255 255 255 / 100%);

    @media screen and (max-width: utils.$bp-tablet) {
      height: auto;
    }
  }

  &__text {
    color: var(--color-primary-midnight-blue);
    padding: 24px 32px;
    font-size: 18px;
    text-align: center;
    line-height: 1.3;
  }

  &__icon {
    margin-bottom: 10px;
    fill: var(--color-primary-light-blue);
  }
}
