@use '../utils/index' as utils;

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  overflow-x: hidden;

  @media screen and (max-width: utils.$bp-tablet) {
    padding: 0 15px;
  }
}