@use '../utils/index' as utils;

.contacts-section {
  padding-bottom: 96px;

  &__container {
    padding: 0 64px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 32px;

    @media screen and (max-width: utils.$bp-desktop) {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    padding-bottom: 48px;

    @media screen and (max-width: utils.$bp-tablet) {
      font-size: 32px;
      padding-bottom: 24px;
    }
  }

  &__maps {
    width: 605px;
    height: 480px;
    border-radius: 32px;

    @media screen and (max-width: utils.$bp-tablet) {
      width: 100%;
      height: 232px;
    }
  }
}
