@use '../utils/index' as utils;

.contacts-section {
  padding-bottom: 96px;

  &__title {
    padding-bottom: 48px;
  }

  &__container {
    padding: 0 64px 0 64px;
    display: flex;
    flex-direction: row;
    gap: 32px;

    @media screen and (max-width: utils.$bp-tablet) {
      flex-direction: column;
    }
  }

  &__maps {
    width: 605px;
    height: 480px;
    border-radius: 32px;

    @media screen and (max-width: utils.$bp-tablet) {
      width: 360px;
      height: 232px;
    }
  }
}
