@use '../utils/index' as utils;

.contacts-section {
  padding-bottom: 96px;

  @media screen and (max-width: utils.$bp-tablet) {
    padding-bottom: 0;
  }

  &__container {
    padding: 0 64px;
    display: flex;
    flex-direction: row;
    gap: 24px;

    @media screen and (max-width: utils.$bp-desktop) {
      padding: 0;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    padding-bottom: 48px;

    @media screen and (max-width: utils.$bp-tablet) {
      font-size: 32px;
      padding-bottom: 24px;
    }
  }

  &__maps {
    margin: auto;
    width: 605px;
    height: 480px;
    border-radius: 32px;
    border: none;

    @media screen and (max-width: utils.$bp-tablet) {
      flex-shrink: 0;
      margin: 0;
      width: 100%;
      height: 232px;
      border-radius: 0;
    }
  }
}
