@use '../utils/index' as utils;

.footer {
  position: relative;
  padding: 56px 0;
  background-color: var(--color-secondary-navy-blue);
  overflow: hidden;

  &::after {
    position: absolute;
    inset: auto -30px -60px auto;
    width: 278px;
    height: 213px;
    background-image: url('/images/cosmetics.png');
    background-repeat: no-repeat;
    content: '';

    @media screen and (max-width: utils.$bp-tablet) {
      display: none;
    }
  }

  &__container {
    display: flex;

    @media screen and (max-width: utils.$bp-tablet) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__nav {
    display: flex;
    flex-basis: 50%;

    @media screen and (max-width: utils.$bp-tablet) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-basis: 0;
      gap: 42px;
    }
  }

  &__logo {
    display: flex;
    flex-grow: 1;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;

    @media screen and (max-width: utils.$bp-tablet) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 16px;
    }
  }

  &__link {
    color: var(--color-primary-light);
    font-size: 16px;
    line-height: 1.18;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: var(--color-primary-light-blue);
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @media screen and (max-width: utils.$bp-tablet) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__address {
    display: flex;
    flex-basis: 50%;

    @media screen and (max-width: utils.$bp-tablet) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-bottom: 16px;

      @media screen and (max-width: utils.$bp-tablet) {
        display: none;
      }
    }

    &-info {
      @media screen and (max-width: utils.$bp-tablet) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
      }
    }

    &-link {
      color: var(--color-primary-light);
      font-size: 16px;
      line-height: 1.18;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: var(--color-primary-light-blue);
      }

      @media screen and (max-width: utils.$bp-tablet) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    &-copyright {
      color: var(--color-secondary-medium-gray);
      font-size: 13px;
    }
  }

  &__socials {
    display: flex;
    gap: 24px;

    &-icon {
      fill: var(--color-primary-light);
      transition: 0.3s;

      &:hover {
        fill: var(--color-primary-light-blue);
      }
    }
  }
}
