.footer {
  background-color: var(--color-secondary-navy-blue);
  padding: 56px 0;

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__nav {
    display: flex;
    flex-basis: 50%;
  }

  &__logo {
    display: flex;
    flex-grow: 1;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
  }

  &__link {
    color: var(--color-primary-light);
    font-size: 16px;
    line-height: 1.18;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: var(--color-primary-light-blue);
    }
  }

  &__address {
    display: flex;
    flex-basis: 50%;
    gap: 100px;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-bottom: 16px;
    }

    &-link {
      color: var(--color-primary-light);
      font-size: 16px;
      line-height: 1.18;
      text-decoration: none;
    }

    &-info {
      flex-grow: 1;
    }
  }
}