.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);

  &__container {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 30px;
  }

  &__menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 56px;
  }

  &__link {
    color: var(--color-primary-midnight-blue);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.15;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: var(--color-primary-light-blue), rgba(43, 127, 255, 1);
    }
  }

  &__socials {
    display: flex;
    gap: 32px;
  }

  &__icon {
    fill: var(--color-primary-midnight-blue);

    &:hover {
      fill: var(--color-primary-light-blue);
      cursor: pointer;
    }
  }
}
