.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);

  &__container {
    display: flex;
    align-items: center;
    padding: 32px 100px;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
  }

  &__menu {
    margin: 0 240px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 56px;

    &-link {
      color: var(--color-primary-midnight-blue);
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.15;
      text-decoration: none;

      &:hover {
        color: var(--color-primary-light-blue), rgba(43, 127, 255, 1);
      }
    }
  }

  &__socials {
    display: flex;
    gap: 32px;
    align-items: center;

    &-icon {
      fill: var(--color-primary-midnight-blue);

      &:hover {
        fill: var(--color-primary-light-blue);
        cursor: pointer;
      }
    }
  }
}
