@use '../utils/index' as utils;

.hero-section {
  background-image: linear-gradient(
      94.33deg,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0.85) 26%,
      rgba(255, 255, 255, 0.19) 53%,
      rgba(255, 255, 255, 0) 74%
  ),
  url(/images/hero-background.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  @media screen and (max-width: utils.$bp-tablet) {
    background-image: linear-gradient(38.33deg, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.78) 31%,rgba(255, 255, 255, 0.2) 50%,rgba(255, 255, 255, 0) 68%),
    url(/images/hero-background.png);
    background-position: top center;
  }

    &__container {
      padding: 122px 106px;

      @media screen and (max-width: utils.$bp-tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 88px 15px;
      }
    }

    &__text {
      color: var(--color-primary-midnight-blue);
      padding-bottom: 16px;
      font-size: 18px;

      @media screen and (max-width: utils.$bp-tablet) {
        font-size: 12px;
        padding-bottom: 8px;
      }
    }

    &__title {
      padding-bottom: 40px;

      @media screen and (max-width: utils.$bp-tablet) {
        font-size: 54px;
        padding-bottom: 32px;
      }
    }

    &__button {
      color: var(--color-primary-light);
      font-size: 18px;
      font-weight: 400;

      &:hover {
        color: var(--color-secondary-navy-blue);
      }

      @media screen and (max-width: utils.$bp-tablet) {
        font-size: 16px;
        padding: 16px 24px;
      }
    }

    &__terms {
      width: 218px;
      color: var(--color-secondary-dark-gray);
      padding-top: 14px;
      font-size: 12px;
      text-align: center;

      @media screen and (max-width: utils.$bp-tablet) {
        padding-top: 8px;
        font-size: 11px;
      }
    }
  }
