.mobile-menu {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  transform: translateX(100%);
  transition: transform 0.3s;

  &.is-open {
    transform: translateX(0);
  }

  &__btn-close {
    position: absolute;
    right: 24px;
    fill: var(--color-secondary-navy-blue);
    background: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }

  &__logo {
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;
  }

  &__link {
    color: var(--color-secondary-navy-blue);
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;

    &:hover {
      font-weight: 700;
      color: var(--color-brand-normal);
    }
  }

  &__socials {
    display: flex;
    gap: 16px;

    &-icon {
      fill: var(--color-secondary-navy-blue);
    }
  }
}
