.services-section {
  padding-bottom: 176px;

  &__container {
    display: flex;
    gap: 28px;
  }

  &__content {

    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-text {
      color: var(--color-primary-midnight-blue);
      font-size: 22px;
      font-weight: 400;
      line-height: 1.7;
    }
  }

  &__result {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 40px;
  }

  &__result img:first-child {
    width: 335px;
  }

  &__result img:last-child {
    width: 335px;
    margin-left: 180px;
  }
}