.services-section {

  &__content {
    width: 710px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-text {
      color: var(--color-primary-midnight-blue);
      font-size: 22px;
      font-weight: 400;
      line-height: 1.7;
    }
  }
}