@use '../utils/index' as utils;

.treatments-section {
  padding-bottom: 96px;

  &__title {
    padding-bottom: 48px;

    @media screen and (max-width: utils.$bp-tablet) {
      font-size: 32px;
      padding-bottom: 24px;
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;

    @media screen and (max-width: utils.$bp-tablet) {
      li:nth-child(2), li:nth-child(3) {
        display: none;
      }
    }
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 344px;
    height: 456px;
    border-radius: 4px 120px 4px 120px;
    background-image: linear-gradient(
        180deg,
        rgba(1, 28, 68, 0) 47%,
        rgba(1, 28, 68, 0.73) 83%,
        rgba(1, 28, 68, 1) 99%
    );
    overflow: hidden;
  }

  &__image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__text {
    color: var(--color-primary-light);
    padding: 32px;
    font-size: 22px;
    text-align: center;
    line-height: 1.2;
  }
}
