.treatments-section {
  padding-bottom: 96px;

  &__title {
    padding-bottom: 48px;
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  &__card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 344px;
    height: 456px;
    border-radius: 4px 120px 4px 120px;
    background-image: linear-gradient(
      180deg,
      rgba(1, 28, 68, 0) 47%,
      rgba(1, 28, 68, 0.73) 83%,
      rgba(1, 28, 68, 1) 99%
    );
    overflow: hidden;
  }

  &__image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--color-primary-light);
    padding-bottom: 32px;
    font-size: 22px;
    text-align: center;
    line-height: 1.2;
  }
}
