:root {
  --color-primary-light: #fff;
  --color-primary-light-blue: #2b7fff;
  --color-primary-midnight-blue: #011c44;
  --color-secondary-dark-gray: #4a4a4a;
  --color-secondary-medium-gray: #747272;
  --color-secondary-navy-blue: #011f4a;
  --color-secondary-yellow: #ffd02b;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@font-face {
  font-display: swap;
  font-family: Play;
  font-style: normal;
  font-weight: 400;
  src: url("fonts/play-v21-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Play;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/play-v21-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto-v50-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/roboto-v50-latin-600.woff2") format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-light-blue);
  background-color: var(--color-primary-light), rgb(255, 255, 255);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  color: var(--color-primary-light-blue), rgb(43, 127, 255);
  font-family: Play, sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
}

h2 {
  color: var(--color-primary-mi-blue);
  font-family: Play, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.15;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-brand {
  color: var(--color-primary-midnight-blue);
}

.text-light-blue {
  color: var(--color-primary-light-blue);
}

.text-bold {
  color: var(--color-primary-midnight-blue);
  font-weight: 700;
}

.centered {
  text-align: center;
}

.button {
  background-color: var(--color-primary-light-blue);
  padding: 16px 32px;
  border: 2px solid var(--color-primary-light-blue);
  border-radius: 32px;
}
.button:hover {
  background-color: transparent;
  border: 2px solid var(--color-primary-light-blue);
  cursor: pointer;
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-secondary-navy-blue);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-secondary-navy-blue);
  cursor: pointer;
}
.carousel-button:hover {
  fill: var(--color-primary-light);
  background-color: var(--color-primary-light-blue);
  border: 1px solid var(--color-primary-light);
}
.carousel-button.next {
  transform: rotate(180deg);
}
@media screen and (max-width: 768px) {
  .carousel-button {
    display: none;
  }
}

.contacts-form {
  position: relative;
  padding: 48px 56px;
  width: 423px;
  height: 481px;
  background: var(--color-secondary-navy-blue);
  border-radius: 32px;
}
@media screen and (max-width: 768px) {
  .contacts-form {
    padding: 32px 20px;
    width: 320px;
    height: 460px;
  }
}
.contacts-form__title {
  color: var(--color-primary-light);
  padding-bottom: 32px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .contacts-form__title {
    padding-bottom: 24px;
    font-weight: 600;
  }
}
.contacts-form__field {
  margin-bottom: 16px;
}
.contacts-form__label {
  position: absolute;
  top: 16px;
  left: 42px;
}
.contacts-form__input {
  color: var(--color-primary-light);
  padding: 18px 32px;
  width: 310px;
  max-width: 100%;
  background-color: transparent;
  border: 2px solid var(--color-secondary-medium-gray);
  border-radius: 32px;
}
@media screen and (max-width: 768px) {
  .contacts-form__input {
    padding: 16px 24px;
  }
}
.contacts-form__input:focus {
  color: var(--color-primary-light);
  background-color: var(--color-secondary-medium-gray);
  outline: none;
}
.contacts-form__input::placeholder {
  color: var(--color-primary-light);
  font-size: 13px;
}
.contacts-form__button {
  display: block;
  margin: 0 auto 8px;
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 250;
  position: relative;
}
.contacts-form__button:hover {
  color: var(--color-primary-light);
}
@media screen and (max-width: 768px) {
  .contacts-form__button {
    padding: 16px 24px;
  }
}
.contacts-form__text {
  color: var(--color-secondary-medium-gray);
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
.contacts-form__terms {
  color: var(--color-secondary-medium-gray);
  text-underline-offset: 2px;
}

.backdrop {
  position: fixed;
  z-index: 999;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}
@media screen and (max-width: 768px) {
  .backdrop {
    width: 100dvw;
    height: 100dvh;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-btn-close {
  position: absolute;
  top: 50px;
  right: 50px;
  fill: var(--color-primary-light);
  background-color: transparent;
  border: none;
}
.modal-btn-close:hover {
  fill: var(--color-primary-light-blue);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .modal-btn-close {
    top: 25px;
    right: 20px;
  }
}

.modal {
  position: relative;
  width: 723px;
  max-width: 100%;
  height: 681px;
  max-height: 100%;
  padding: 42px 144px;
  background-color: var(--color-secondary-navy-blue);
  border-radius: 48px;
}
@media screen and (max-width: 768px) {
  .modal {
    width: 100dvw;
    height: 100dvh;
    padding: 15px;
    border-radius: 1px;
  }
}
.modal__title {
  color: var(--color-primary-light);
  text-align: center;
  padding-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .modal__title {
    font-size: 32px;
    padding-bottom: 20px;
  }
}
.modal__text {
  color: var(--color-primary-light);
  font-size: 22px;
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
  padding-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .modal__text {
    font-size: 16px;
  }
}
.modal__form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__form-field {
  margin-bottom: 24px;
}
.modal__form-label {
  position: absolute;
  top: 16px;
  left: 42px;
}
.modal__form-input {
  color: var(--color-primary-light);
  padding: 18px 32px;
  width: 310px;
  max-width: 100%;
  background-color: transparent;
  border: 2px solid var(--color-secondary-medium-gray);
  border-radius: 32px;
}
.modal__form-input:focus {
  color: var(--color-primary-light);
  background-color: var(--color-secondary-medium-gray);
  outline: none;
}
.modal__form-input::placeholder {
  color: var(--color-primary-light);
  font-size: 13px;
}
.modal__form-button {
  display: block;
  margin: 0 auto 8px;
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 250;
  padding: 16px 32px;
}
.modal__form-button:hover {
  color: var(--color-primary-light);
}
@media screen and (max-width: 768px) {
  .modal__form-button {
    font-size: 16px;
    padding: 16px 24px;
  }
}
.modal__form-text {
  color: var(--color-secondary-medium-gray);
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .modal__form-text {
    font-size: 11px;
  }
}
.modal__form-terms {
  color: var(--color-secondary-medium-gray);
  text-underline-offset: 2px;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
}
@media screen and (max-width: 768px) {
  .header {
    background: none;
    backdrop-filter: none;
    padding: 15px 0;
  }
}
.header__container {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 30px;
}
.header__menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 56px;
}
@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__link {
  color: var(--color-primary-midnight-blue);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.15;
  text-decoration: none;
  transition: 0.3s;
}
.header__link:hover {
  color: var(--color-primary-light-blue), rgb(43, 127, 255);
}
.header__socials {
  display: flex;
  gap: 32px;
}
.header__icon {
  fill: var(--color-primary-midnight-blue);
}
.header__icon:hover {
  fill: var(--color-primary-light-blue);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .header__icon {
    display: none;
  }
}
.header__burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__burger {
    display: block;
    width: 24px;
    height: 24px;
    padding: 0;
    fill: var(--color-primary-light);
    background-color: transparent;
    border: none;
  }
}

.mobile-menu {
  position: fixed;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: #fff;
  z-index: 9999;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  transform: translateX(100%);
  transition: transform 0.3s;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu__btn-close {
  position: absolute;
  right: 24px;
  fill: var(--color-secondary-navy-blue);
  background: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.mobile-menu__logo {
  width: 74px;
  height: 42px;
  margin-bottom: 32px;
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
}
.mobile-menu__link {
  color: var(--color-secondary-navy-blue);
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
}
.mobile-menu__link:hover {
  font-weight: 700;
  color: var(--color-brand-normal);
}
.mobile-menu__socials {
  display: flex;
  gap: 16px;
}
.mobile-menu__socials-icon {
  fill: var(--color-secondary-navy-blue);
}

.hero-section {
  background-image: linear-gradient(94.33deg, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0.85) 26%, rgba(255, 255, 255, 0.19) 53%, rgba(255, 255, 255, 0) 74%), url("/images/hero-background.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .hero-section {
    background-image: linear-gradient(38.33deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.78) 31%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 68%), url("/images/hero-background.png");
    background-position: top center;
  }
}
.hero-section__container {
  padding: 122px 106px;
}
@media screen and (max-width: 768px) {
  .hero-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 88px 15px;
  }
}
.hero-section__content {
  width: 530px;
}
@media screen and (max-width: 768px) {
  .hero-section__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.hero-section__text {
  color: var(--color-primary-midnight-blue);
  padding-bottom: 16px;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .hero-section__text {
    font-size: 12px;
    padding-bottom: 8px;
  }
}
.hero-section__title {
  padding-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .hero-section__title {
    font-size: 54px;
    padding-bottom: 32px;
  }
}
.hero-section__button {
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 400;
}
.hero-section__button:hover {
  color: var(--color-secondary-navy-blue);
}
@media screen and (max-width: 768px) {
  .hero-section__button {
    font-size: 16px;
    padding: 16px 24px;
  }
}
.hero-section__terms {
  width: 218px;
  color: var(--color-secondary-dark-gray);
  padding-top: 14px;
  font-size: 12px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .hero-section__terms {
    padding-top: 8px;
    font-size: 11px;
  }
}

.services-section__container {
  display: flex;
  gap: 28px;
}
.services-section__content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .services-section__content {
    gap: 24px;
  }
}
@media screen and (max-width: 768px) {
  .services-section__title {
    font-size: 32px;
    line-height: 1.18;
  }
}
.services-section__text {
  color: var(--color-primary-midnight-blue);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7;
}
@media screen and (max-width: 768px) {
  .services-section__text {
    font-size: 18px;
    line-height: 1.16;
  }
}
.services-section__result {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .services-section__result {
    display: none;
  }
}
.services-section__result img {
  width: 335px;
}
.services-section__result img:last-child {
  margin-left: 180px;
}

.advantages-section {
  padding: 176px 0 96px;
}
@media screen and (max-width: 768px) {
  .advantages-section {
    padding: 100px 0 40px;
  }
}
.advantages-section__title {
  padding-bottom: 48px;
}
@media screen and (max-width: 768px) {
  .advantages-section__title {
    font-size: 32px;
    padding-bottom: 24px;
  }
}
.advantages-section__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 56px;
}
@media screen and (max-width: 768px) {
  .advantages-section__list {
    gap: 12px;
  }
}
.advantages-section__card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 316px;
  height: 181px;
  border-radius: 32px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  background: rgb(255, 255, 255);
}
@media screen and (max-width: 768px) {
  .advantages-section__card {
    height: auto;
  }
}
.advantages-section__text {
  color: var(--color-primary-midnight-blue);
  padding: 24px 32px;
  font-size: 18px;
  text-align: center;
  line-height: 1.3;
}
.advantages-section__icon {
  margin-bottom: 10px;
  fill: var(--color-primary-light-blue);
}

.treatments-section {
  padding-bottom: 96px;
}
@media screen and (max-width: 768px) {
  .treatments-section {
    padding-bottom: 64px;
  }
}
.treatments-section__title {
  padding-bottom: 48px;
}
@media screen and (max-width: 768px) {
  .treatments-section__title {
    font-size: 32px;
    padding-bottom: 24px;
  }
}
.treatments-section__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.treatments-section__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .treatments-section__list li:nth-child(2),
  .treatments-section__list li:nth-child(3) {
    display: none;
  }
}
.treatments-section__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 344px;
  height: 456px;
  border-radius: 4px 120px;
  background-image: linear-gradient(180deg, rgba(1, 28, 68, 0) 47%, rgba(1, 28, 68, 0.73) 83%, rgb(1, 28, 68) 99%);
  overflow: hidden;
}
.treatments-section__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.treatments-section__text {
  color: var(--color-primary-light);
  padding: 32px;
  font-size: 22px;
  text-align: center;
  line-height: 1.2;
}

.contacts-section {
  padding-bottom: 96px;
}
@media screen and (max-width: 768px) {
  .contacts-section {
    padding-bottom: 0;
  }
}
.contacts-section__container {
  padding: 0 64px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
@media screen and (max-width: 1280px) {
  .contacts-section__container {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.contacts-section__title {
  padding-bottom: 48px;
}
@media screen and (max-width: 768px) {
  .contacts-section__title {
    font-size: 32px;
    padding-bottom: 24px;
  }
}
.contacts-section__maps {
  margin: auto;
  width: 605px;
  height: 480px;
  border-radius: 32px;
  border: none;
}
@media screen and (max-width: 768px) {
  .contacts-section__maps {
    flex-shrink: 0;
    margin: 0;
    width: 100%;
    height: 232px;
    border-radius: 0;
  }
}

.footer {
  position: relative;
  padding: 56px 0;
  background-color: var(--color-secondary-navy-blue);
  overflow: hidden;
}
.footer::after {
  position: absolute;
  inset: auto -30px -60px auto;
  width: 278px;
  height: 213px;
  background-image: url("/images/cosmetics.png");
  background-repeat: no-repeat;
  content: "";
}
@media screen and (max-width: 768px) {
  .footer::after {
    display: none;
  }
}
.footer__container {
  display: flex;
}
@media screen and (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer__nav {
  display: flex;
  flex-basis: 50%;
}
@media screen and (max-width: 768px) {
  .footer__nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    gap: 42px;
  }
}
.footer__logo {
  display: flex;
  flex-grow: 1;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .footer__menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
  }
}
.footer__link {
  color: var(--color-primary-light);
  font-size: 16px;
  line-height: 1.18;
  text-decoration: none;
  transition: color 0.3s;
}
.footer__link:hover {
  color: var(--color-primary-light-blue);
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .footer__contacts {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer__address {
  display: flex;
  flex-basis: 50%;
}
@media screen and (max-width: 768px) {
  .footer__address {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
.footer__address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .footer__address-list {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .footer__address-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}
.footer__address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  line-height: 1.18;
  text-decoration: none;
  transition: color 0.3s;
}
.footer__address-link:hover {
  color: var(--color-primary-light-blue);
}
@media screen and (max-width: 768px) {
  .footer__address-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer__address-copyright {
  color: var(--color-secondary-medium-gray);
  font-size: 13px;
}
.footer__socials {
  display: flex;
  gap: 24px;
}
.footer__socials-icon {
  fill: var(--color-primary-light);
  transition: 0.3s;
}
.footer__socials-icon:hover {
  fill: var(--color-primary-light-blue);
}

/*# sourceMappingURL=main.css.map */
