*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-light-blue);
  background-color: var(--color-primary-light), rgb(255, 255, 255);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  color: var(--color-primary-light-blue), rgb(43, 127, 255);
  font-family: Play, sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
}

h2 {
  color: var(--color-primary-mi-blue);
  font-family: Play, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.15;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.text-brand {
  color: var(--color-primary-midnight-blue);
}

.centered {
  text-align: center;
}

.text-bold {
  color: var(--color-primary-midnight-blue);
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/play-v21-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/play-v21-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto-v50-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/roboto-v50-latin-600.woff2") format("woff2");
}
:root {
  --color-primary-light: #ffffff;
  --color-primary-light-blue: #2b7fff;
  --color-primary-midnight-blue: #011c44;
  --color-secondary-dark-gray: #4a4a4a;
  --color-secondary-medium-gray: #747272;
  --color-secondary-navy-blue: #011f4a;
  --color-secondary-yellow: #ffd02b;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.button {
  color: var(--color-primary-light);
  background-color: var(--color-primary-light-blue);
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 400;
  border: 2px solid var(--color-primary-light-blue);
  border-radius: 32px;
}
.button:hover {
  color: var(--color-primary-midnight-blue-blue);
  background-color: transparent;
  border: 2px solid var(--color-primary-light-blue);
  cursor: pointer;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
}
.header__container {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 30px;
}
.header__menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 56px;
}
.header__menu-link {
  color: var(--color-primary-midnight-blue);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.15;
  text-decoration: none;
}
.header__menu-link:hover {
  color: var(--color-primary-light-blue), rgb(43, 127, 255);
}
.header__socials {
  display: flex;
  gap: 32px;
}
.header__socials-icon {
  fill: var(--color-primary-midnight-blue);
}
.header__socials-icon:hover {
  fill: var(--color-primary-light-blue);
  cursor: pointer;
}

.hero-section {
  background-image: linear-gradient(94.33deg, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0.85) 26%, rgba(255, 255, 255, 0.19) 53%, rgba(255, 255, 255, 0) 74%), url(/images/hero-background.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.hero-section__container {
  padding: 122px 106px;
}
.hero-section__text-large {
  color: var(--color-primary-midnight-blue);
  padding-bottom: 16px;
  font-size: 18px;
}
.hero-section__title {
  padding-bottom: 40px;
}
.hero-section__text-small {
  width: 218px;
  color: var(--color-secondary-dark-gray);
  padding-top: 14px;
  font-size: 12px;
  text-align: center;
}

.services-section {
  padding-bottom: 176px;
}
.services-section__container {
  display: flex;
  gap: 28px;
}
.services-section__content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.services-section__content-text {
  color: var(--color-primary-midnight-blue);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7;
}
.services-section__result {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 40px;
}
.services-section__result img:first-child {
  width: 335px;
}
.services-section__result img:last-child {
  width: 335px;
  margin-left: 180px;
}

.advantages-section {
  padding-bottom: 96px;
}
.advantages-section__container-title {
  padding-bottom: 48px;
}
.advantages-section__list {
  display: flex;
  justify-content: center;
  gap: 56px;
}
.advantages-section__list-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 316px;
  height: 181px;
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  background: rgb(255, 255, 255);
}
.advantages-section__list-icon {
  fill: var(--color-primary-light-blue);
}
.advantages-section__list-text {
  color: var(--color-primary-midnight-blue);
  padding: 24px 32px;
  font-size: 18px;
  text-align: center;
  line-height: 1.3;
}

.treatments-section__container-title {
  padding-bottom: 48px;
}

/*# sourceMappingURL=main.css.map */
