@use 'utils/index';
@use 'utils/fonts';

@use 'globals';

@use 'components/button';
@use 'components/carousel-button';
@use 'components/forms';
@use 'components/modal';

@use 'layouts/header';
@use 'layouts/hero-section';
@use 'layouts/services-section';
@use 'layouts/advantages-section';
@use 'layouts/treatments-section';
@use 'layouts/contacts-section';
@use 'layouts/footer';
